<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dive-In ventory</title>
    <link href="https://fonts.googleapis.com/css?family=Amarante|Rye|Merriweather|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/inventory">Inventory</a></li>
        <li class="menu-item"><a href="/manufacturers">Manufacturers</a></li>
      </ul>
        <hr>
    </nav>
    <%= yield %>
  </body>
