<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mikes Scuba Gear</title>
  </head>
  <body>
    <nav id="menu">
      <li class="menu-item"><a href="/home">Home</a></li>
      <li class="menu-item"><a href="/manufacturers">Manufacturers</a></li>
      <li class="menu-item"><a href="/products">Products</a></li>
    </nav>
    <h1 id="logo">Mikes Scuba Gear</h1>
    <%= yield %>
  </body>
</html>
