<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mikes Scuba Gear</title>
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/manufacturers">Manufacturers</a></li>
        <li class="menu-item"><a href="/inventory">Inventory</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
