
body {
  padding: 30px;
  font-family: 'Merriweather', cursive;
  color: black;
  background-image: url("images/turtle.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 30px;
  padding-bottom: 15px;
}

li {
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
}

th {
  padding-left: 10px;
  padding-bottom: 5px;
}

td {
  padding-left: 10px;
}

a {
  color: #664200;
}

p {
  padding-left: 15px;
}

.stock_out {
  color: red;
  padding-left: 30px;
}

.low_stock {
  color: orange;
  padding-left: 30px;
}

.ok_stock {
  color: #003300;
  padding-left: 30px;
}
