
body {
  padding: 30px;
  font-family: 'Merriweather', cursive;

  background-image: url("images/turtle.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 30px;
  padding-bottom: 15px;
}


h1 {
  display: flex;
  justify-content: center;
}

th {
  padding-left: 10px;
  padding-bottom: 5px;
}

td {
  padding-left: 15px;
  padding-right: 10px;
}

tr:nth-child(even) {
  background-color: #d0caca;
}

a {
  color: #664200;
}

p {
  padding-left: 15px;
}

img {
  background-color: white;
  height: 10%;
  width: 10%;
  margin-left: 10px;
  border-radius: 5%;
}

form {
  padding: 10px;
}

.stock-level {
  padding-left: 30px;
}

.stock-level--critical {
  color: #ff3333;
}

.stock-level--low {
  color: #e68a00;
}

.stock-level--ok {
  color: #2eb82e;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 120%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.column {
  float: left;
  padding: 0 30px;
}
