
body {
  padding: 30px;
  font-family: 'Merriweather', cursive;
  color: black;
  background-image: url("images/turtle.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

h1 {
  display: flex;
  justify-content: center;
}

/* td {
  padding-left: 10px;
} */

.stock_out{
  color: red;
  padding-left: 15px;
}

.low_stock{
  color: orange;
  padding-left: 15px;
}

.ok_stock{
  color: green;
  padding-left: 15px;
}
