<form method="post" action="/manufacturers" >

  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field" />

  <label for="country-field">Country:</label>
  <input type="text" name="country" id="country-field" />

  <label for="contact-field">Contact:</label>
  <input type="text" name="contact" id="contact-field" />

  <label for="rating-field">Rating:</label>
  <input type="number" name="rating" id="rating-field" />

  <input type="submit" value="Create Manufacturer">
</form>
