<form method="post" action="/products" >

  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field" />

  <label for="description-field">Description:</label>
  <input type="text" name="description" id="description-field" />

  <label for="quantity-field">Quantity:</label>
  <input type="number" name="quantity" id="quantity-field" />

  <label for="buy-cost-field">Buy Cost:</label>
  <input type="number" name="buy_cost" id="buy-cost-field" />

  <label for="sell-price-field">Sell Price:</label>
  <input type="number" name="sell_price" id="sell-price-field" />

  <label for="manufacturer_select">Select Manufacturer:</label>
  <select name="manufacturer_id" id="manufacturer_select">
    <% @manufacturers.each do |manufacturer| %>
    <option value=<%= manufacturer.id %>><%= manufacturer.name.capitalize %></option>
    <%end%>
  </select>

  <input type="submit" value="Create Product">
</form>
